@import "tailwindcss";

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 8px;
    height: 18px;
    background-color: black;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    
    background-color: #9d3d3d;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6e6b6b;
}
